# Stack ports
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
NGINX_PORT=80
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# Images
POSTGRES_IMAGE=postgres:16-alpine
REDIS_IMAGE=redis:7-alpine
RABBITMQ_IMAGE=rabbitmq:3-management-alpine

# Credentials
POSTGRES_DB=test
POSTGRES_USER=ssafy
POSTGRES_PASSWORD=ssafy
RABBITMQ_DEFAULT_USER=myuser
RABBITMQ_DEFAULT_PASS=secret
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
