# Spring profile
SPRING_PROFILES_ACTIVE=local

# Database
DB_URL=jdbc:postgresql://localhost:5432/test
DB_USER=ssafy
DB_PASSWORD=ssafy

# JWT
JWT_ENABLED=false
JWT_ISSUER_URI=https://your-auth-server/realms/your-realm

# Optional app metadata
APP_COLOR=LOCAL

# RabbitMQ
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=myuser
SPRING_RABBITMQ_PASSWORD=secret